# OCI VM IP 기반 임시 접속 주소
# 도메인을 매핑하신 후에는 IP 주소 부분을 도메인 주소(예: api.example.com)로 변경하시면 됩니다.
http://140.245.90.93 {
    reverse_proxy localhost:8080

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
